body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: purple;
  color: white;
  display: flex;
  padding-bottom: 10px;
}
.logo {
  text-transform: uppercase;
  font-size: 35px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-left: 35px;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  font-size: 16px;
  width: 170px;
  background-color: purple;
  border-radius: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: black;
  color: white;
  transition: 1s;
}
.navbar ul li:hover > ul {
  display: block;
}
.navbar ul li:hover {
  background-color: black;
  border-radius: 15px;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.navbar ul ul {
  display: none;
}
